*{
margin: 0;
font-family: "inter";
}

#cabeçalho{
    background-color: #303030;
    color: #f9f9f9;
    padding: 150px 0 150px 40px;
}
#titulo{
    font-size: 60px;
}
h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

#informativo{
    background-color: #210ba0;
    display: grid;
    grid-auto-flow: column;
    padding: 70px 0 70px 7%;

}
#SecaoImagem{
    display: grid;
    grid-auto-flow: column;
    padding: 90px 80px 90px 80px
}
#texto{
    padding: 30% 60px 20px 40px
}
#TituloSecaoImagem{
    margin-bottom: 50px;
}

#secaoFormulario{
    background-color: #303030;
    text-align: center;
    padding: 100px;
    color: #f9f9f9;
    font-size: 25px;
}
input{
    margin: 50px 0 0;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding-left: 33px;
}
p{
    font-size: 18px;
}

button{
    border-radius: 15px;
    padding: 15px 100px;
    margin: 70px;
    background-color: #C07212;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 25px;
}

button:hover{
    background-color: #7a490d;
    color: #f9f9f9;
    transform: translateY(-7px);
    transition-duration: 0.7s;
    box-shadow: 10px 15px 20px #C07212;
}